<link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>

<footer class="bg-dark text-center">
    <div class="py-4">
        Tothastu © 2021
        <!-- <span style="display:inline-block; width: 5px;"></span> -->
        &bull;
        <!-- <span style="display:inline-block; width: 5px;"></span> -->
        Made with <i class="icon ion-heart" style="color: #E85F5C;"></i> by <a class="footer-link"
            href="https://farhanfuadabir.com/"> Fuad</a>
    </div>
</footer>
