body {
  background: #f7fff7;
  color: #292F36;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-family: 'Comfortaa', cursive;
  /* font-size: xx-large; */
}

p {
  font-family: 'Roboto', sans-serif;
}

ul {
  margin: 0;
}

a {
  color: #0F8B8D;
  text-decoration: none;
}

a:hover {
  color: #EC9A29;
}

.bg-steel {
  background-color: #292F36;
}

.site-header .navbar-brand {
  color: #E85F5C;
  font-family: 'Pacifico', cursive;
  font-size: xx-large;
}

.site-header .navbar-brand:hover {
  color: #EC9A29;
}

.site-header .navbar-nav .nav-link {
  color: #E85F5C;
  font-family: 'Oswald', sans-serif;
  font-size: larger;
}

.site-header .navbar-nav .nav-link:hover {
  color: #EC9A29;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #F7FFF7;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 5px;
}

.article-title {
  color: #E85F5C;
}

a.article-title:hover {
  color: #EC9A29;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 10px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #EC9A29;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
  font-style: normal;
}
