body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #292F36;
  margin-top: 5rem;
  margin-bottom: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
  font-family: 'Comfortaa', cursive;
  /* font-size: xx-large; */
}

p {
  font-family: 'Roboto', sans-serif;
}

ul {
  margin: 0;
}

a {
  color: #0F8B8D;
  text-decoration: none;
}

a:hover {
  color: #E29578;
}

.bg-steel {
  background-color: #292F36;
}

.site-header .navbar-brand {
  color: #E85F5C;
  font-family: 'Pacifico', cursive;
  font-size: xx-large;
}

.site-header .navbar-brand:hover {
  color: #E29578;
}

.site-header .navbar-nav .nav-link {
  color: #E85F5C;
  font-family: 'Sarala', sans-serif;
  font-size: larger;
  font-weight: normal;
  padding: 0px 15px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #E29578;
}

.site-header .navbar-nav .nav-link:active {
  border-bottom: #E85F5C;
  color: #E29578;
  font-weight: bold;
}

.content-section {
  background: #f7fff7;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 5px;
}

.article-title {
  color: #E85F5C;
}

a.article-title:hover {
  color: #E29578;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 10px;
  margin-bottom: 4px;
  /* border-bottom: 1px solid #e3e3e3; */
}

.article-metadata a:hover {
  color: #E29578;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
  font-style: normal;
}

.form-group {
  /* padding-bottom: 15px; */
  padding: 10px 20px
}

.button-primary {
  background-color: #E85F5C;
  border: none;
  border-radius: 50px;
  color: #292F36;
  padding: 10px 20px;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.button-primary:hover {
  color: #E85F5C;
  background-color: #292F36;
}

.button-border-primary {
  background-color: transparent;
  border: 2px solid #E85F5C;
  border-radius: 50px;
  color: #E85F5C;
  padding: 10px 20px;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  font-size: medium;
}
.button-border-primary:hover {
  background-color: #E85F5C;
  color: #F7FFF7;
}

.center {
  text-align: center;
}

.form-control-file {
  padding-top: 15px;
}
